In [64]:
import warnings

warnings.filterwarnings("ignore", category=FutureWarning)

In [65]:
import pandas as pd

df = pd.read_excel('Tag_Control.xlsx', sheet_name='Sheet1')
df

,Counter,Especie,Responsable etiquetado,Tag ID,Total Imágenes,Total etiquetas
0,1,Aglaophenia,NaN,2,524,NaN
1,2,Aplysina Aerophoba,NaN,3,1206,NaN
2,3,Chondrosia Reniformis,NaN,4,1592,NaN
3,4,Cliona Celata,NaN,5,517,NaN
4,5,Coscinasterias Tenuispina,NaN,6,770,NaN
5,6,Crambe Crambe,NaN,7,2884,NaN
6,7,Dysidea Fragilis,NaN,8,125,NaN
7,8,Eudendrium,NaN,9,404,NaN
8,9,Ircinia Variabilis,NaN,0,289,NaN
9,10,Pecten Jacobaeus,NaN,q,56,NaN
10,11,Reptadeonella Violacea,NaN,w,140,NaN
11,12,Schizobrachiella Sanguinea,NaN,e,302,NaN
12,13,Arbacia Lixula,NaN,t,1928,NaN
13,14,Caloria Quatrefagesi,NaN,a,342,NaN
14,15,Conger Conger,NaN,1,306,NaN
15,16,Cratena Peregrina,NaN,s,2369,NaN
16,17,Flabellina Affinis,NaN,d,900,NaN
17,18,Gobius Cruentatus,NaN,f,833,NaN
18,19,Hexaplex Trunculus,NaN,g,1008,NaN
19,20,Nemesignis Banyulensis,NaN,z,338,NaN
20,21,Parablennius Gattorugine,NaN,x,1462,NaN
21,22,Parablennius Pilicornis,NaN,c,4746,NaN
22,23,Parablennius Tentacularis,NaN,v,204,NaN
23,24,Polycera Quadrilineata,NaN,b,289,NaN
24,25,Serranus Cabrilla,NaN,y,2748,NaN
25,26,Stenopus Spinosus,NaN,i,198,NaN
26,27,Stramonita Haemastoma,NaN,o,1630,NaN

In [66]:
df_1 = pd.read_csv("minka_data/observations-416.csv", low_memory=False)
df_2 = pd.read_csv("minka_data/observations-417.csv", low_memory=False)
df_3 = pd.read_csv("minka_data/observations-418.csv", low_memory=False)

minka = pd.concat([df_1, df_2, df_3], ignore_index=True)
minka.head(3)

,id,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,user_name,created_at,updated_at,...,geoprivacy,taxon_geoprivacy,coordinates_obscured,positioning_method,positioning_device,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id
0,349,2021-04-30,2021-04-30,NaN,Madrid,4,xasalva,xavi salvador costa,2022-04-16 10:48:58 UTC,2023-12-21 15:28:05 UTC,...,NaN,NaN,False,NaN,NaN,Spirobranchus triqueter,Spirobranchus triqueter,NaN,Annelida,251212
1,350,2021-05-02,2021-05-02,NaN,Madrid,4,xasalva,xavi salvador costa,2022-04-16 10:48:59 UTC,2023-12-21 15:28:05 UTC,...,NaN,NaN,False,NaN,NaN,Eriphia verrucosa,Eriphia verrucosa,NaN,Malacostraca,35010
2,352,2021-08-30 09:39:15,2021-08-30,2021-08-30 07:39:15 UTC,Madrid,4,xasalva,xavi salvador costa,2022-04-16 10:49:00 UTC,2023-12-21 15:28:05 UTC,...,NaN,NaN,False,NaN,NaN,Sarcotragus fasciculatus,Sarcotragus fasciculatus,NaN,Porifera,34987

In [67]:
# Contar cuantas imágenes hay por especie
species_counts = minka['scientific_name'].value_counts()
species_counts

scientific_name
Coris julis                5598
Diplodus vulgaris          5382
Parablennius pilicornis    4746
Diplodus sargus            4705
Chromis chromis            4669
                           ...
Parvicardium minimum          1
Clelandella miliaris          1
Costasiella ocellifera        1
Parvicardium                  1
Bryopa aperta                 1
Name: count, Length: 3525, dtype: int64

In [68]:
species_counts.index

Index(['Coris julis', 'Diplodus vulgaris', 'Parablennius pilicornis',
       'Diplodus sargus', 'Chromis chromis', 'Sarpa salpa', 'Thalassoma pavo',
       'Mullus surmuletus', 'Symphodus tinca', 'Paracentrotus lividus',
       ...
       'Ambigolimax', 'Papillicardium', 'Ebala pointeli', 'Tonna perdix',
       'Ebala nitidissima', 'Parvicardium minimum', 'Clelandella miliaris',
       'Costasiella ocellifera', 'Parvicardium', 'Bryopa aperta'],
      dtype='object', name='scientific_name', length=3525)

In [69]:
# Añadir la especie y el total de imágenes al dataframe de df

for i in range(len(species_counts)):
    if species_counts.index[i].title() in df["Especie"].values:
        print(species_counts.index[i])
        continue

    df.loc[len(df) + 1] = [
        len(df) + 1,
        species_counts.index[i].title(),
        '',
        '',
        species_counts[i],
        '',
    ]  # shifting index

Parablennius pilicornis
Crambe crambe
Serranus cabrilla
Cratena peregrina
Arbacia lixula
Stramonita haemastoma
Chondrosia reniformis
Parablennius gattorugine
Aplysina aerophoba
Hexaplex trunculus
Flabellina affinis
Gobius cruentatus
Coscinasterias tenuispina
Cliona celata
Caloria quatrefagesi
Nemesignis banyulensis
Conger conger
Schizobrachiella sanguinea
Ircinia variabilis
Polycera quadrilineata
Parablennius tentacularis
Stenopus spinosus
Eudendrium
Reptadeonella violacea
Dysidea fragilis
Aglaophenia
Pecten jacobaeus

In [74]:
df.head(30)

,Counter,Especie,Responsable etiquetado,Tag ID,Total Imágenes,Total etiquetas
0,1,Aglaophenia,NaN,2,524,NaN
1,2,Aplysina Aerophoba,NaN,3,1206,NaN
2,3,Chondrosia Reniformis,NaN,4,1592,NaN
3,4,Cliona Celata,NaN,5,517,NaN
4,5,Coscinasterias Tenuispina,NaN,6,770,NaN
5,6,Crambe Crambe,NaN,7,2884,NaN
6,7,Dysidea Fragilis,NaN,8,125,NaN
7,8,Eudendrium,NaN,9,404,NaN
8,9,Ircinia Variabilis,NaN,0,289,NaN
9,10,Pecten Jacobaeus,NaN,q,56,NaN
10,11,Reptadeonella Violacea,NaN,w,140,NaN
11,12,Schizobrachiella Sanguinea,NaN,e,302,NaN
12,13,Arbacia Lixula,NaN,t,1928,NaN
13,14,Caloria Quatrefagesi,NaN,a,342,NaN
14,15,Conger Conger,NaN,1,306,NaN
15,16,Cratena Peregrina,NaN,s,2369,NaN
16,17,Flabellina Affinis,NaN,d,900,NaN
17,18,Gobius Cruentatus,NaN,f,833,NaN
18,19,Hexaplex Trunculus,NaN,g,1008,NaN
19,20,Nemesignis Banyulensis,NaN,z,338,NaN
20,21,Parablennius Gattorugine,NaN,x,1462,NaN
21,22,Parablennius Pilicornis,NaN,c,4746,NaN
22,23,Parablennius Tentacularis,NaN,v,204,NaN
23,24,Polycera Quadrilineata,NaN,b,289,NaN
24,25,Serranus Cabrilla,NaN,y,2748,NaN
25,26,Stenopus Spinosus,NaN,i,198,NaN
26,27,Stramonita Haemastoma,NaN,o,1630,NaN
28,28,Coris Julis,,,5598,
29,29,Diplodus Vulgaris,,,5382,
30,30,Diplodus Sargus,,,4705,

In [75]:
# Guardar el dataframe en un archivo Excel
df.to_excel("Tag_Control_2.xlsx", index=False)